@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC + Firebase</h1>
    <p class="lead">ASP.NET MVC web application using Firebase as a Database</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CRUD Operations</h2>
        <p>
            CRUD (Create, Read, Update and Delete) operations performs using ASP.net mvc with fireabase as a database
        </p>
        <p><a class="btn btn-default" href="~/CRUD/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authentications </h2>
        <p>Login and Signup operations are performs in this field.</p>
        <p><a class="btn btn-default" href="~/Account/SignUp">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>